node-ws.json
[{"id":"e88ac85b.b45f58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9a7e764.9fa228","type":"websocket out","z":"e88ac85b.b45f58","name":"","server":"5a8a548e.d1645c","client":"","x":630,"y":140,"wires":[]},{"id":"d099d7d9.899b38","type":"websocket in","z":"e88ac85b.b45f58","name":"","server":"5a8a548e.d1645c","client":"","x":210,"y":140,"wires":[["ac662e29.950a1","31be39ea.2ec5e6"]]},{"id":"ac662e29.950a1","type":"debug","z":"e88ac85b.b45f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":180,"wires":[]},{"id":"31be39ea.2ec5e6","type":"change","z":"e88ac85b.b45f58","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["a9a7e764.9fa228"]]},{"id":"5a8a548e.d1645c","type":"websocket-listener","z":"","path":"/shifumi","wholemsg":"true"}]